@{
    ViewBag.Title = "DAshboard";
}

<div class="tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>DIOGO</h1>
            </div>
            <ol class="tg-breadcrumb">
                <li><a href="~/Painel">Dashboard</a></li>
                <li class="tg-active">Instrutores</li>
            </ol>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h2>INSTRUTORES</h2>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                    <button class="tg-btn" type="button">NOVO</button>
                    <button class="tg-btn" type="button">ALTERAR</button>
                    <button class="tg-btn" type="button">EXCLUIR</button>
                </div>
            </div>
            <div class="row pt">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>INSTRUTOR</th>
                                <th>E-MAIL</th>
                                <th>TELEFONE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>TwBootstrap</td>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>TwBootstrap</td>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>TwBootstrap</td>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>TwBootstrap</td>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox" /></th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>TwBootstrap</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9 text-right">
                    <input type="text" />&nbsp;<button class="tg-btn" type="button">LOCALIZAR</button>
                </div>
            </div>
        </div>
    </div>
</main>




