<ul>
    <li><a href="~/Painel">> Painel</a></li>
    <li><a href="~/Painel/Alunos">> Alunos</a></li>
    <li><a href="~/Painel/Cursos">> Cursos</a></li>
    <li><a href="~/Painel/Empresas">> Empresas</a></li>
    <li><a href="~/Painel/Instrutores">> Instrutores</a></li>
    <li><a href="~/Painel/Locais">> Locais</a></li>
    <li><a href="~/Painel/Temas">> Temas</a></li>
    <li><a href="~/Painel/Relatorios">> Relatórios</a></li>
    <li><a href="~/Painel/Listas">> Listas</a></li>
    <li><a href="~/Painel/Inscricoes">> Inscrições</a></li>
    <li><a href="~/Painel/Configuracoes">> Meus Dados</a></li>
    <li><a href="javascript:confirmaSair()">Sair ></a></li>
</ul>