<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hidden-xs">
    <div class="trilha">
        <b>COMPLETE A TRILHA!</b> Manter seus dados atualizados é a melhor forma de ser notificado de cursos interessantes
        <div class="row" style="padding:5px;">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <img src="~/images/icones/seta2.png" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                @if (Model.perfil)
                {
                    <img src="~/images/icones/01_verde.png" />
                }
                else
                {
                    <img src="~/images/icones/01_vermelho.png" />
                }
                <br /><a href="~/Aluno/Perfil">MEUS DADOS</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                @if (Model.interesse)
                {
                    <img src="~/images/icones/02_verde.png" />
                }
                else
                {
                    <img src="~/images/icones/02_vermelho.png" />
                }
                <br /><a href="~/Aluno/Notificacoes">MEUS INTERESSES</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                @if (Model.mercado)
                {
                    <img src="~/images/icones/03_verde.png" />
                }
                else
                {
                    <img src="~/images/icones/03_vermelho.png" />
                }
                <br /><a href="~/Aluno/Mercado">MEU MERCADO</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                @if (Model.cursos)
                {
                    <img src="~/images/icones/04_verde.png" />
                }
                else
                {
                    <img src="~/images/icones/04_vermelho.png" />
                }
                <br /><a href="~/Aluno/Certificados">CURSOS QUE JÁ FIZ</a>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                @if ((Model.perfil) && (Model.interesse) && (Model.mercado) && (Model.cursos))
                {
                    <img src="~/images/icones/final.png" /><br />
                    @:PARABÉNS
                }
            </div>
        </div>
    </div>
</div>