body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.tg-sectionspace {
    padding: 50px 0 !important;
}


.tg-innerbannercontent {
    padding: 55px 0 20px !important;
    text-align: left !important;
}   

.p10 {
    padding:10px;
}

.pt15 {
    padding-top:15px;
}

.mb10 {
    margin-bottom:10px;
}

.counter {
    text-align: center;
}

.employees, .customer, .design, .order {
    margin-bottom: 70px;
}

table {
    margin-top:20px;
}
table input {
    width:16px;
    height:16px;
}

.counter-count {
    font-size: 48px;
    background-color: #808080;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 90%;
    height: 92px;
    display: inline-block;
}

.employee-p, .customer-p, .order-p, .design-p {
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}

#form_cadastro_organizador .row {
    margin-bottom: 10px;
}

.list-itens {
    color: #444349;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    margin-top: 5px;
    height: 120px;
    overflow: auto;
}

.prev_img {
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    margin-top: 5px;
    height: 175px;
    padding:10px;
    text-align:center;
}

.prev_img img {
    max-height: 155px;
}


.list-itens li {
    list-style: none;
    padding:5px;
}

.list-itens li i {
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.list-itens li i:hover {
    background-color: #ececec;
    border-radius: 5px;
}

#error_email {
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 15px;
    margin-top: 0px;
    display:none;
}
#error_telefone {
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 330px;
    margin-top: 0px;
    display: none;
}

.border-icon {
    padding: 3px 3px;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    color:#444349 !important;
}

.td:hover {
    background-color: #88e55b;
}

.small {
    font-size:11px;
}

.combo {
    height: 275px !important;
}

.list {
    border-bottom:1px solid #ececec;
    line-height:30px;
}

.list:hover {
    background-color:#88e55b;
}

.list i {
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    margin-bottom:5px;
}

#tg-main {
    min-height:422px !important;
}