body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.tg-sectionspace {
    padding: 50px 0 !important;
}


.tg-innerbannercontent {
    padding: 55px 0 20px !important;
    text-align: left !important;
}   

.p10 {
    padding:10px;
}

.counter {
    text-align: center;
}

.employees, .customer, .design, .order {
    margin-bottom: 70px;
}

table {
    margin-top:20px;
}
table input {
    width:16px;
    height:16px;
}

.counter-count {
    font-size: 48px;
    background-color: #808080;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 90%;
    height: 92px;
    display: inline-block;
}

.employee-p, .customer-p, .order-p, .design-p {
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}

#form_cadastro_organizador .row {
    margin-bottom: 10px;
}