body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

.tg-sectionspace {
    padding: 50px 0 !important;
}


.tg-innerbannercontent {
    padding: 55px 0 20px !important;
    text-align: left !important;
}   

.p10 {
    padding:10px;
}

.pt15 {
    padding-top:15px;
}

.pt30 {
    padding-top: 30px;
}

.mb10 {
    margin-bottom:10px;
}

.counter {
    text-align: center;
}

.employees, .customer, .design, .order {
    margin-bottom: 70px;
}

table {
    margin-top:20px;
}
table input {
    width:16px;
    height:16px;
}

.counter-count {
    font-size: 48px;
    background-color: #808080;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 100%;
    height: 92px;
    display: inline-block;
}

.employee-p, .customer-p, .order-p, .design-p {
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}

#form_cadastro_organizador .row, #form_cadastro_aluno .row {
    margin-bottom: 10px;
}

.list-itens {
    color: #444349;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    margin-top: 5px;
    height: 120px;
    overflow: auto;
}

.prev_img {
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    margin-top: 5px;
    height: 175px;
    padding:10px;
    text-align:center;
}

.prev_img img {
    max-height: 155px;
}


.list-itens li {
    list-style: none;
    padding:5px;
}

.list-itens li i {
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.list-itens li i:hover {
    background-color: #ececec;
    border-radius: 5px;
}

#error_email {
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 15px;
    margin-top: 0px;
    display:none;
}
#error_telefone {
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 330px;
    margin-top: 0px;
    display: none;
}

#error_redes {
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 330px;
    margin-top: 0px;
    display: none;
}

.border-icon {
    padding: 3px 3px;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    color:#444349 !important;
}

.td {
    cursor:pointer;
}

.td:hover {
    background-color: #88e55b;
}

.small {
    font-size:11px;
}

.combo {
    height: 275px !important;
}

.list {
    border-bottom:1px solid #ececec;
    line-height:30px;
}

.list:hover {
    background-color:#88e55b;
}

.list i {
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
    margin-bottom:5px;
}

#tg-main {
    min-height:422px !important;
}

.branco {
    background-color:#FFFFFF;
    color:#000000;
}
.preto {
    background-color: #000000;
    color: #FFFFFF;
}
.azul {
    background-color: #0026ff;
    color: #FFFFFF;
}
.vermelho {
    background-color: #ff0000;
    color: #FFFFFF;
}
.verde {
    background-color: #00ff21;
    color: #FFFFFF;
}
.amarelo {
    background-color: #ffd800;
    color: #000000;
}
.magenta {
    background-color: #ff00dc;
    color: #FFFFFF;
}
.verde_claro {
    background-color: #88e55b;
    color: #000000;
}
.laranja {
    background-color: #ff6a00;
    color: #FFFFFF;
}
.azul_claro {
    background-color: #00ffff;
    color: #000000;
}
.bege {
    background-color: #EEE8AA;
    color: #000000;
}
.roxo {
    background-color: #341c3e;
    color: #FFFFFF;
}
.vinho{
    background-color:#65000b;
    color:#ffffff;
}
.bg_cinza {
    padding:10px 0px;
    background-color: #dbdbdb;
    position: relative;
    color: #000000;
    text-align: center;
    width: 100%;
    display: inline-block;
}

.verde_escuro {
    background-color: #31653f;
    color: #ffffff;
}

.table th, .table td {
    text-align:left !important;
}

.pagination {
    padding:0px !important;
    margin:0px !important;
}

.pagesel {
    background-color: #E12325 !important;
    Color: #ffffff !important;
}

textarea {
    overflow-x:hidden !important;
}

.dashlink {
    color: #E12325;
    text-transform:uppercase;
    font-weight:600;
    font-size:17px;
}

    .dashlink:hover {
        text-decoration: none;
    }

.table-relat th, .table-relat td {
    font-size:12px !important;
}

#slideshow {
    margin: 35px auto;
    position: relative;
    width: 100%;
    height:362px; 
    overflow: hidden;
}

#slideshow img {
    width:100%;
}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

h3.perfil input {
    margin-left:20px;
    width:16px;
    height:16px;
}

h3.perfil span {
    text-transform: capitalize;
    font-size: 20px;
    color: #E12325;
}

.header {
    text-align:center;
    background-color:#ececec;
    font-weight:600;
    padding:10px;
}

.red-icon {
    color:red !important;
}

.green-icon {
    color: green !important;
}