@{
    ViewBag.Title = "Página não encontrada";
}

<div class="tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>PÁGINA NÃO ENCONTRADA</h1>
            </div>
            <ol class="tg-breadcrumb">
                <li><a href="#">Home</a></li>
            </ol>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <a href="~/"><i class="fa fa-home"></i>&nbsp;&nbsp;&nbsp;Ir para página inicial</a>
                </div>
            </div>                
        </div>
    </div>
</main>
