@{
    ViewBag.Title = "Cadastro";
}

<div class="tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>CADASTRO</h1>
            </div>
            <ol class="tg-breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="tg-active">Cadastro</li>
            </ol>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form id="form_cadastro_organizador">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" name="txorganizador" id="txorganizador" class="form-control validate[required,minSize[3],maxSize[200]]" placeholder="Organizador *" maxlength="200">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <input type="password" name="txsenha" id="txsenha" class="form-control validate[required,minSize[3],maxSize[20],equals[txconfsenha]]" placeholder="Senha *" maxlength="20">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" name="txemail" id="txemail" class="form-control validate[required,minSize[3],maxSize[200],email]" placeholder="E-mail *" maxlength="200">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input type="password" name="txconfsenha" id="txconfsenha" class="form-control validate[required,minSize[3],maxSize[20],equals[txsenha]]" placeholder="Confirmar Senha *" maxlength="200">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input type="text" name="txtelefone" id="txtelefone" class="form-control validate[required,minSize[3],maxSize[100]]" placeholder="Telefone *" maxlength="100">
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <textarea name="txdescritivo" class="form-control" id="txdescritivo" placeholder="Descrição"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <input type="checkbox" name="flinstrutor" id="flinstrutor" value="1">&nbsp;&nbsp;O organizador também é o instrutor?
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                                <div id="form-error" class="p10"></div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
                                <button class="tg-btn" type="button" id="btn_cadastro_organizador">Cadastrar</button>
                            </div>                            
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</main>