@if (Model == null)
{
    <div class="tg-navigationarea">
        <nav id="tg-nav" class="tg-nav hidden-md hidden-lg hidden-sm">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                <ul>
                    <li><a href="Login">Entrar</a></li>
                    <li><a href="Cadastro">Cadastrar</a></li>
                </ul>
            </div>
        </nav>
        <a class="tg-btn tg-btnbookseat hidden-xs" href="Login">Entrar</a>
        <a class="tg-btn tg-btnbookseat hidden-xs" href="Cadastro">Cadastrar</a>
    </div>
}
else
{
    <div class="tg-navigationarea">
        <nav id="tg-nav" class="tg-nav hidden-md hidden-lg hidden-sm">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                <ul>
                    <li><a href="~/Painel">Painel</a></li>
                </ul>
            </div>
        </nav>
        <a class="tg-btn tg-btnbookseat hidden-xs" href="~/Painel">Painel</a>
    </div>
}