<ul>
    <li><a href="~/Painel"><img src="~/images/icones/18.png" />Painel</a></li>
    <li><a href="~/Painel/Alunos"><img src="~/images/icones/12.png" />Alunos</a></li>
    <li><a href="~/Painel/Cursos"><img src="~/images/icones/16.png" />Cursos</a></li>
    <li><a href="~/Painel/Empresas"><img src="~/images/icones/22.png" />Empresas</a></li>
    <li><a href="~/Painel/Instrutores"><img src="~/images/icones/21.png" />Instrutores</a></li>
    <li><a href="~/Painel/Locais"><img src="~/images/icones/20.png" />Locais</a></li>
    <li><a href="~/Painel/Temas"><img src="~/images/icones/15.png" />Temas</a></li>
    <li><a href="~/Painel/Relatorios"><img src="~/images/icones/18.png" />Relatórios</a></li>
    <li><a href="~/Painel/Listas"><img src="~/images/icones/18.png" />Listas</a></li>
    <li><a href="~/Painel/Inscricoes"><img src="~/images/icones/14.png" />Inscrições</a></li>
    <li><a href="~/Painel/Configuracoes"><img src="~/images/icones/19.png" />Meus Dados</a></li>
    <li><a href="javascript:confirmaSair()">Sair ></a></li>
</ul>