@{
    ViewBag.Title = "Dashboard";
}

<div class="tg-bgparallax">
    <div class="container">
        <div class="tg-innerbannercontent">
            <div class="tg-pagetitle">
                <h1>77</h1>
            </div>
            <ol class="tg-breadcrumb">
                <li class="tg-active">Dashboard</li>
            </ol>
        </div>
    </div>
</div>

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="tg-sectionspace">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                   teste

                </div>
            </div>
        </div>
    </div>
</main>