<ul>
    <li><a href="~/Aluno"><img src="~/images/icones/18.png" />Painel</a></li>
    <li><a href="~/Aluno/Perfil"><img src="~/images/icones/12.png" />Meus Dados</a></li>
    <li><a href="~/Aluno/AlterarSenha"><img src="~/images/icones/17.png" />Alterar Senha</a></li>
    <li><a href="~/Aluno/Mercado"><img src="~/images/icones/15.png" />Meu Mercado</a></li>
    <li><a href="~/Aluno/Certificados"><img src="~/images/icones/16.png" />Cursos que já fiz</a></li>
    <li><a href="~/Aluno/Notificacoes"><img src="~/images/icones/14.png" />Meus Interesses</a></li>
    <li><a href="~/Aluno/Cursos"><img src="~/images/icones/13.png" />Meus Cursos</a></li>
    <li><a href="javascript:confirmaSair()">Sair ></a></li>
</ul>